   <div class="main-menu">
    <div class="container">
        <nav>
            <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
            <ul>
                <li>
                    <a href=""> مشاهده خسارتها  </a>
                    <ul>
                        <li><a  asp-controller="Report" asp-action="Index">دریافت خسارت </a></li>
                        <li><a href=""> ویرایش درخواست </a></li>
                        <li><a href=""> ابطال درخواست </a></li>
                    </ul>
                </li>
                <li>
                    <a href=""> ویرایش  </a>
                    <ul>
                        <li><a href=""> تست </a></li>

                    </ul>
                </li>
                <li><a href=""> سایر متدها  </a></li>
                <li>
                    <a href=""> طراحی سایت </a>
                    <ul>
                        <li><a href=""> طراحی سایت </a></li>

                    </ul>
                </li>
                <li><a href=""> بانک های اطلاعاتی </a></li>
              
            </ul>
        </nav>
    </div>
</div>