@{
    ViewData["Title"] = "خانه";
}

@*<link rel="stylesheet" href="~/css/ExcelForm.css"/>*@

@*<form asp-controller="Home" asp-action="ExportFireP04TafkikListToExcel" method="post">
      <h1>تهیه فایل فناوران</h1>
      <div >
      <hr/>
      <div >
        <input type="number" placeholder="Enter second value" name="toId" required>
        <label for="toId"><strong>To Number</strong></label>
        <input type="number" placeholder="Enter first value" name="fromId" required>
        <label for="fromId"><strong>From Number</strong></label>

      </div>
      <button type="submit">Export to excel</button>
      </div>
    </form>*@




